venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/


data/processed/*


*.db
*.sqlite3

logs/
*.log

.env
.env.local
.env.*.local

.vscode/
.idea/
*.iml
*.swp

airflow.db
airflow.cfg
webserver_config.py

reviews_agg_daily.csv

*.tmp
*.parquet